.router {
  @include flex();
  align-items: normal;
  position: relative;
  &__item {
    height: 100%;
    margin: 30px 22px 0 32px;
    @include flex();
    flex: 1;
    align-items: normal;
  }

  &__phoneSidebar {
    display: none;
  }
  @include resposive(phone) {
    &__searchBar {
      display: none;
    }
    &__sidebar {
      display: none;
    }
    &__phoneSidebar {
      display: block;
      margin-top: 30px;
    }
    &__item {
      margin: 0;
    }
  }
}
